*~
*.swp

emacs_custom/.emacs.d/el-packages
emacs_custom/.emacs.d/auto-save-list
emacs_custom/.emacs.d/recentf
emacs_custom/.emacs.d/recentf~
emacs_custom/.emacs.d/elpa
emacs_custom/.emacs.d/conf_work_real.org

gocryptfs/
icon_theme____papirus-dark-grey/
KDE_Plasma/
KDE_Plasma/.config/kdeconnect/certificate.pem
KDE_Plasma/.config/kdeconnect/privateKey.pem
KDE_Plasma/.local/share/kactivitymanagerd/resources/database
KDE_Plasma/.local/share/klipper/history2.lst
KDE_Plasma/.local/share/kwalletd/kdewallet.kwl
KDE_Plasma/.local/share/kwalletd/kdewallet.salt
ssh/

vim/.vim/.netrwhist
vim/.vim/bundle/Vundle.vim
vim/.vim/bundle/dracula
vim/.vim/bundle/vim-airline-themes
vim/.vim/bundle/vim-airline
vim/.vim/bundle/nord-vim
vim/.vim/bundle/vim-css-color

xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.o

